<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.cmm.CommonMapper">
	<resultMap type="com.gms.web.brd.Attach" id="attach">
		<id property="seq" column="seq"></id>
		<result property="name" column="name"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/> 
	</resultMap>
	<resultMap type="com.gms.web.brd.Board" id="boardDetail">
		<id property="bno" column="BNO"></id>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="writer" column="WRITER"/> 
		<result property="regdate" column="REGDATE"/>
		<result property="viewcnt" column="VIEWCNT"/>
		<result property="replycnt" column="REPLYCNT"/>
		<association property="mbr" javaType="Member">
			<id property="userId" column="USERID"></id>
			<result property="teamId" column="TEAMID"/>
			<result property="name" column="NAME"/>
			<result property="ssn" column="SSN"/>
			<result property="roll" column="ROLL"/>
			<result property="password" column="PASSWORD"/>
			<result property="age" column="AGE"/>
			<result property="gender" column="GENDER"/>
			<result property="subject" column="SUBJECT"/>
		</association>
		<collection property="attaches" ofType="attach">
			<id property="seq" column="seq"></id>
			<result property="name" column="name"/>
			<result property="title" column="title"/>
			<result property="content" column="content"/> 
		</collection>
	</resultMap>
	
	<!-- 큰 뷰 하나에 다 담아버림 -->
	<resultMap type="map" id="info">
		<id property="seq" column="seq"></id>
		<result property="name" column="name"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="teamId" column="TEAMID"/>
		<result property="name" column="NAME"/>
		<result property="ssn" column="SSN"/>
		<result property="roll" column="ROLL"/>
		<result property="password" column="PASSWORD"/>
		<result property="age" column="AGE"/>
		<result property="gender" column="GENDER"/>
		<result property="subject" column="SUBJECT"/> 
		<result property="attachSeq" column="attachSeq"/> 
	</resultMap>
	<!-- 큰 뷰 하나에 다 담아버림 -->
</mapper>